@tailwind base;
@tailwind components;
@tailwind utilities;

/* mobil */
body {
  background-color: #070707;
  color: white;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

